APP_NAME=Splatoon3 Record
PUSH_CODEC=hevc
PUSH_BITRATE_MBPS=2
PUSH_FILE_LIMIT_MB=100
LIVE_PORT=11567
NSO_BACKEND_URL=https://znca.furlingdu.com
PROJECT_NAME=Splatoon3Record
PROJECT_VERSION=2.0.0
PROJECT_URL=https://github.com/furlingdu/splatoon3-record
NSO_USER_AGENT=Splatoon3Record/2.0.0 (+https://github.com/furlingdu/splatoon3-record)
AUTHOR_AVATAR_URL=https://q2.qlogo.cn/headimg_dl?dst_uin=3648192311&spec=640
QQ_GROUP_URL=
