* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
*.woff2 binary
*.onnx binary
*.pt binary

package-lock.json linguist-generated=true -diff
src/renderer/assets/fonts/*.woff2 linguist-vendored=true
